<html>

<% if @answer != nil %>
<b><font color = 'green'>Question : </font></b><%= @question.question %><br>
<b><font color = 'green'>Answer : </font></b><%= @answer.answer %><br>
<% if @doubt != nil %>
<% for i in @doubt %>
<b><font color = 'green'>Doubt : </font></b><%= i.doubt %><br>
<% if i.answer != 'zero' %>
<b><font color = 'green'>Answer : </font></b><%= i.answer %><br>
<% else %>
<font color = 'green'><%= link_to 'reply', :action =>'reply_doubt', :id=>@faculty, :questid => @question, :doubtid => i.id %><br>
<% end %>
<% end %>
<% end %>
 <% else %>
<b><font color = 'green'>Question : </font></b><%= @question.question %><br>
<b> No Answer </b>
<% end %><br>
<b><font color = 'green'><%= link_to 'back', :action =>'view_question', :id=>@faculty, :questid => @question %><br>

</html>
