<HTML>
  <HEAD>
    <%= javascript_include_tag "prototype" %>
  </HEAD>

<BODY>
<p>	<% @html = "<select id='college_id' name='college_id'>" %>
	<%= @html += "<option value=''>No College</option>" %>
	<% @colleges.each do |@colleges| %>
	<%= @html = "<option value='#{@colleges.id}'>#{@colleges.college}</option>" %>
	<% end %>
	<%= @html = "</select>" %>
</p>

<p> If Your College is not on the List, Please Click <%= link_to "Here", :controller => 'colleges', :action => 'new', :id => @colleges.city_id %> here to Add Your College</p>

<p>Course
<div id="course_id_container">
    <select name="course_id" disabled="disabled">
	<option value="">No Course</option>
    </select>
</div>

<%= observe_field("college_id", :frequency => 0.25, :update => "course_id_container", :url => { :action => :add_link_course }, :with => "'college_id='+value") %></p>

</BODY>
</HTML>
