<%= link_to "profile", settings_path %><br/>
<%= link_to "photo", (settings_path :photo) %><br/>
<%= link_to "other profiles", (settings_path :other_profiles) %><br/>
<%= link_to "preferences", (settings_path :preferences) %><br/>
<%= link_to "notifications", (settings_path :notifications) %><br/>
<%= link_to "privacy", (settings_path :privacy) %><br/>
<%= link_to "password", (settings_path :password) %><br/>
