<%= error_messages_for 'picture' %>

<!--[form:picture]-->
<p><label for="picture_comment">Comment</label><br/>
<%= text_field 'picture', 'comment'  %></p>

<p><label for="picture_name">Name</label><br/>
<%= text_field 'picture', 'name'  %></p>

<p><label for="picture_content_type">Content type</label><br/>
<%= text_field 'picture', 'content_type'  %></p>

<p><label for="picture_data">Data</label><br/>
</p>
<!--[eoform:picture]-->

