<%= error_messages_for 'college' %>

<!--[form:college]-->
Your Current City : <%= @city.city %>

<p><label for="college_college">College</label><br/>
<%= text_field 'college', 'college' %></p>
<!--[eoform:college]-->
