<%= error_messages_for 'course' %>

<!--[form:course]-->
Your Current College : <%= @college.college %>

<p><label for="course_course">Enter the New Course Name</label><br/>
<%= text_field 'course', 'course'  %></p>
<!--[eoform:course]-->

