<h1>Editing city</h1>

<% form_tag :action => 'update', :id => @city do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @city %> |
<%= link_to 'Back', :action => 'list' %>
