<div id="message_popup" class="popup" style="width:400px">
  <p id="message_popup_message"></p>
  <form action="">
      <input class="popup_closebox" type="button" value="OK" />
  </form>
</div>
<%= javascript_tag "new Popup('message_popup',null,{modal:true})" %>
